# CORS Configuration
quarkus.http.cors=true
quarkus.http.cors.origins=url
quarkus.http.cors.methods=GET,POST,PUT,DELETE,OPTIONS
quarkus.http.cors.headers=Content-Type,Authorization,X-Session-Id,Accept
quarkus.http.cors.access-control-allow-credentials=true
quarkus.http.cors.exposed-headers=Content-Type,X-Session-Id

# Logging
quarkus.log.level=INFO
quarkus.log.category."it.unipegaso".level=DEBUG

# MongoDB
quarkus.mongodb.connection-string=
quarkus.mongodb.database=bibliomap

# Redis
quarkus.redis.hosts= 

# Auth OTP
quarkus.auth.otp.duration-minutes=5

# Email service
quarkus.email.debug-mode=false
#TODO
quarkus.email.base-url= 

# LOAN
quarkus.loan.duration= 30 
quarkus.loan.scheduler= 0 0 9 * * ?

# Book API
quarkus.book-api.url= 
quarkus.book-api.key= 

# Sessione
quarkus.session.duration-minutes=120

# Mailer
quarkus.mailer.host=smtp.gmail.com
quarkus.mailer.port=587
quarkus.mailer.username= 
quarkus.mailer.password= 
quarkus.mailer.start-tls=REQUIRED
quarkus.mailer.mock=false
