# CORS Configuration
http.cors=true
http.cors.origins=url
http.cors.methods=GET,POST,PUT,DELETE,OPTIONS
http.cors.headers=Content-Type,Authorization,X-Session-Id,Accept
http.cors.access-control-allow-credentials=true
http.cors.exposed-headers=Content-Type,X-Session-Id

# Logging
quarkus.log.level=INFO
quarkus.log.category."it.unipegaso".level=DEBUG

# MongoDB
quarkus.mongodb.connection-string=
quarkus.mongodb.database=bibliomap

# Redis
quarkus.redis.hosts= 

# Auth OTP
auth.otp.duration-minutes=5

# Email service
email.debug-mode=false
#TODO
email.base-url= 

# LOAN
loan.duration= 30 
loan.scheduler= 0 0 9 * * ?

# Book API
book-api.url= 
book-api.key= 

# Sessione
session.duration-minutes=120

# Mailer
quarkus.mailer.host=smtp.gmail.com
quarkus.mailer.port=587
quarkus.mailer.username= 
quarkus.mailer.password= 
quarkus.mailer.start-tls=REQUIRED
quarkus.mailer.mock=false
